<h1>{{title}}</h1>
<main class="todo">
  <form action="">
    <span class="n1n2">N°1: </span><input class="input" type="number" [(ngModel)]="numberOne" name="numberOne"><br><br>

    <span class="n1n2">N°2: </span><input class="input" type="number" [(ngModel)]="numberTwo" name="numberTwo"><br><br>

    <div class="botones">
      <input type="submit" value="+" (click)="sumar()">

      <input type="submit" value="-" (click)="restar()">

      <input type="submit" value="/" (click)="dividir()">

      <input type="submit" value="*" (click)="multiplicar()">
    </div>


  </form>
  <span class="result">Result: {{result}}</span>

</main>